<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>Submiited Info</title>
        <meta name="description" content="fill_me_in" >
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet">     
   </head>
   <body>
        <nav id="nav_top" class="navbar navbar-inverse navbar-static-top">
                <div class="container" id="main_container">
                        <a class="navbar-brand" href="http://api.jquery.com">Submiited Info </a>
                </div>
        </nav>
        <div class="container">
            <h1>Your name is: <%= user.name %></h1> 
            <h1>Dojo Location: <%= user.loc %></h1>      
            <h1>Favorite Language: <%= user.lan %></h1>    
            <h1>Comment: <%= user.de %></h1>       
        </div>
        





            
        
   </body>
</html>